/* service */
/* service-title */
.services {
  padding-top: 84px;
  padding-bottom: 78px;
}
.services-title {
  margin-right: 113px;
}
.services-title > p {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
}
.services-title > h1 {
  font-weight: 400;
  max-width: 840px;
  margin: 0 auto;
  font-size: 48px;
  line-height: 72px;
  margin-top: 22px;
  margin-bottom: 78px;
  color: #000000;
}
.service-body {
  display: grid;
  gap: 103px;
  grid-template-columns: repeat(3, 1fr);
}
.service-card {
  max-width: 300px;
}
.service-card img {
  object-fit: contain;
}
.service-card-title {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  margin: 22px 0 18px;
}
.service-card-text {
  font-weight: 400;
  font-size: 20px;
  color: #777777;
}
.service-card-link {
  font-weight: 700;
  margin-top: 30px;
  display: block;
  font-size: 20px;
  color: #0a2640;
  width: 164px;
  border-bottom: 2px solid black;
  padding-bottom: 13px;
}
.service-card-link > img {
  position: relative;
  top: 5px;
  left: 9px;
}
/* info  */
.section-info {
  display: grid;
  margin-top: 200px;
  grid-template-columns: 1fr 1fr;
  gap: 132px;
}
.section-info-body {
  max-width: 493px;
  margin-top: 66px;
}
.section-info-body > h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  position: relative;
  right: 17px;
}
.section-info-list {
  font-weight: 400;
  font-size: 20px;
  line-height: 59px;
  margin-bottom: 36px;
  margin-top: 19px;
}
.section-info-list-item::before {
  content: url("../../../assets/checkIcon.png");
  position: relative;
  top: 19px;
  right: 22px;
}
.section-info-button {
  width: 210px;
  height: 60px;
  background: #0a2640;
  border: 2px solid #0a2640;
  border-radius: 56px;
  color: #ffffff;
  font-weight: 700;
  position: relative;
  font-size: 20px;
  right: 24px;
}
/* customer service */
.section-costumer-service {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.costumer-service-body {
  max-width: 500px;
}
.costumer-service-body > h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  margin: 105px 0 61px;
}
.costumer-service-btns {
  display: flex;
  flex-direction: column;
}
.costumer-service-btns > a {
  height: 68px;
  cursor: pointer;
  align-items: center;
  display: flex;
  margin-bottom: 24px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  color: #000000;
  padding-left: 23px;
}
.costumer-service-btns > .active {
  background: #0a2640;
  color: white;
}

.costumer-service-btns > a > img {
  margin-right: 15px;
}
@media screen and (max-width: 1200px) {
  .service-body {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .service-card:nth-child(2) {
    justify-self: start;
  }
  .service-card:nth-child(1) {
    justify-self: end;
  }
  .service-card:nth-child(3) {
    grid-column: 1/3;
    /* justify-self: center; */
  }
  .services-title {
    margin: auto;
  }
  .section-costumer-service,
  .section-info {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1110px) {
  .section-costumer-service,
  .section-info {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    row-gap: 0px;
    margin-left: 0;
    margin-right: 0;
  }
  .section-info-body {
    margin-top: 8px;
  }
}
@media screen and (max-width: 736px) {
  .section-info > img,
  .customer-service-img > img,
  .customer-service-img {
    width: 100%;
  }
  .section-info-button {
    left: 0;
  }
  .section-info-list {
    font-size: 17px;
  }
  .service-card {
    width: 78%;
  }
  .service-card {
    width: 100%;
  }
  .customer-service-img {
    margin-top: 31px;
  }
  .service-body {
    grid-template-columns: 1fr;
    /* justify-items: center;  */
  }
  .service-card:nth-child(3) {
    grid-column: unset;
    /* justify-self: center; */
  }
  .services-title > h1 {
    font-size: 32px;
  }
  .service-card {
    justify-self: center !important;
  }
}
@media screen and (max-width: 371px) {
  .section-info-body > h1 {
    right: 0;
  }
  .service-card {
    width: 79%;
  }
  .service-card > img {
    width: 100%;
  }
  .section-info-list-item::before {
    right: 5px;
  }
}
