.container-blog {
  width: 998px;
  margin-top: 83px;
  margin-bottom: 122px;
  max-width: 100%;
}
.container-blog > p {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
}
.container-blog > h1 {
  font-weight: 400;
  font-size: 48px;
  margin-top: 17px;
  margin-bottom: 81px;
}
.blog-card {
  width: 300px;
  position: relative;
  height: 424px;
  min-height: 100%;
  max-width: 100%;
}
.blog-card-category {
  color: #0a2640;
  font-weight: 700;
  margin-top: 23px;
  font-size: 16px;
}
.blog-card-category span {
  color: #777777;
  font-weight: 400;
  margin-left: 8px;
  font-size: 16px;
}
.blog-card-text {
  font-weight: 400;
  margin-top: 18px;
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 57px;
}
.blog-card-footer {
  display: flex;
  position: absolute;
  bottom: 0;
}
.blog-autor-name {
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  margin-left: 12px;
}
.blog-button {
  margin: auto;
  display: block;
  width: 219px;
  height: 60px;
  background-color: white;
  font-weight: 700;
  font-size: 20px;
  color: #0a2640;
  border: 2px solid #0a2640;
  border-radius: 56px;
  margin-top: 85px;
}
.blog-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
}
@media screen and (max-width: 1062px) {
  .blog-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (max-width: 669px) {
  .blog-cards-wrapper {
    grid-template-columns: 1fr;
  }
}
